<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
<%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>

<h1>Welcome</h1>

<p>Signed in as <strong><%= @user.email %></strong></p>

<p>
  <%= link_to "Upload a song", new_song_path %>
  |
  <%= link_to "Your uploads", songs_path %>
</p>

<%= button_to "Sign out", destroy_user_session_path, method: :delete %>
