<section class="auth">
  <%= link_to "Shuffle", root_path, class: "auth__logo" %>
  <div class="auth__card">
    <%= link_to "← Back", root_path, class: "auth__back" %>
    <h1>Sign in</h1>

    <%= form_with scope: resource_name, url: session_path(resource_name) do |form| %>
      <div class="auth__field">
        <%= form.label :email, "Email or username" %><br>
        <%= form.text_field :email, required: true, autofocus: true, autocomplete: "username" %>
      </div>

      <div class="auth__field">
        <%= form.label :password, "Password" %><br>
        <%= form.password_field :password, required: true, autocomplete: "current-password" %>
      </div>

      <%= form.submit "Sign in", class: "button" %>
    <% end %>

    <p>
      Need an account?
      <%= link_to "Sign up", new_user_registration_path %>
    </p>
  </div>
</section>
